@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Colors
$text-color-white: #f1f2f6;
$blue: #3742fa;
$purple: #5352ed;
$orange-red: #ff6348;
$orange: #ff7f50;
$lime-light: #7bed9f;
$green: #2ed573;
$text-black: #2f3542;
$white: #fff;
$react-blue: #3bbcfd;
$tailwind-blue: #2294f0;
$vue-green: #26de81;

$text-color-white-08: rgba(241, 242, 246, 0.8);
$blue-08: rgba(55, 66, 250, 0.8);
$purple-08: rgba(83, 82, 237, 0.8);
$orange-red-08: rgba(255, 99, 72, 0.8);
$orange-08: rgba(255, 127, 80, 0.8);
$lime-light-08: rgba(123, 237, 159, 0.8);
$green-08: rgba(46, 213, 115, 0.8);
$text-black-08: rgba(47, 53, 66, 0.8);
$white-08: rgba(255, 255, 255, 0.8);
$react-blue-08: rgba(9, 132, 227, 0.8);
$tailwind-blue-08: rgba(0, 206, 201, 0.8);

$text-color-white-05: rgba(241, 242, 246, 0.5);
$blue-05: rgba(55, 66, 250, 0.5);
$purple-05: rgba(83, 82, 237, 0.5);
$orange-red-05: rgba(255, 99, 72, 0.5);
$orange-05: rgba(255, 127, 80, 0.5);
$lime-light-05: rgba(123, 237, 159, 0.5);
$green-05: rgba(46, 213, 115, 0.5);
$text-black-05: rgba(47, 53, 66, 0.5);
$white-05: rgba(255, 255, 255, 0.5);
$react-blue-05: rgba(9, 132, 227, 0.5);
$tailwind-blue-05: rgba(0, 206, 201, 0.5);

$lavendar-grad: linear-gradient(to left, #87ceeb, #e6e6fa);
$blue-purple-grad: linear-gradient(to left, $blue, $purple);
$orange-red-grad: linear-gradient(to left, $orange, $orange-red);
$lime-green-grad: linear-gradient(to left, $lime-light, $green);
$blue-grad: linear-gradient(to left, rgb(5, 117, 230), rgb(2, 27, 121));

$lavendar-grad-right: linear-gradient(to right, #87ceeb, #e6e6fa);
$purple-blue-grad: linear-gradient(to right, $blue, $purple);
$red-orange-grad: linear-gradient(to right, $orange, $orange-red);
$green-lime-grad: linear-gradient(to right, $lime-light, $green);

$text-shadow: 0.8px 0.5px 0.5px $text-black-08;
$text-shadow-08: 0.5px 0.3px 0.3px $text-black-08;

// fonts

$font1: "Barlow", sans-serif;

body::-webkit-scrollbar-track {
  border: 1px solid $text-color-white;
  background: linear-gradient(
    78deg,
    rgba(209, 184, 255, 1) 0%,
    rgba(124, 124, 255, 1) 100%
  );
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background-color: $green;
}

a {
  text-decoration: none;
}

// Mixins
@mixin boxshadow($color: gray) {
  box-shadow: 0.5px 0.5px 9px 1px $color;
}

@mixin boxshadowBottom($color: rgba(0, 0, 0, 0.49)) {
  box-shadow: 0px 5px 5px -1px $color;
}

@mixin header(
  $fsize: 2.5rem,
  $color: $text-black-08,
  $shadow: $text-shadow,
  $transform: uppercase
) {
  font-size: $fsize;
  font-weight: 600;
  color: $color;
  letter-spacing: 1.2px;
  text-shadow: $shadow;
  text-transform: $transform;
}

@mixin subheader(
  $fsize: 1.3rem,
  $color: $text-black-05,
  $shadow: $text-shadow,
  $transform: none
) {
  font-size: $fsize;
  font-weight: 600;
  color: $color;
  letter-spacing: 1.2px;
  text-shadow: $shadow;
  text-transform: $transform;
}

@mixin dflex(
  $justify: center,
  $align: center,
  $flex: row,
  $gap: 1rem,
  $wrap: nowrap
) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $flex;
  flex-wrap: $wrap;
  gap: $gap;
}

// animation mixins
@mixin accordion_animation(
  $initHeight: 100px,
  $finalHeight: 200px,
  $identifier: "temp"
) {
  @keyframes accordion-expand-#{$identifier} {
    from {
      height: $initHeight;
      opacity: 0;
    }
    to {
      height: $finalHeight;
      opacity: 1;
    }
  }

  @keyframes accordion-collapse-#{$identifier} {
    from {
      height: $finalHeight;
      opacity: 1;
    }
    to {
      height: $initHeight;
      opacity: 0;
    }
  }
}
