@import url('https://fonts.googleapis.com/css2?family=Finlandica&family=Nunito+Sans&display=swap');



body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Nunito Sans', sans-serif;
}

body::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5; */
    display: none;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;  display: none;
}

body::-webkit-scrollbar-thumb
{
	background-color:#ff7f50;	
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)  ;
                                              display: none;
}
